# Configuration file for the electrum-pst client
# Settings defined here are shared across wallets
#
# copy this file to /etc/electrum.conf if you want read-only settings

# RPC 8005 TCP 50006 TCP SSL 50007
[client]
server = electrum-tes.endlessloop.me:50006
proxy = None
gap_limit = 5
# booleans use python syntax
use_change = True
gui = qt
num_zeros = 2
# default transaction fee is in Satoshis
fee = 10000
winpos-qt = [799, 226, 877, 435]
